<section class="wedding__flipbook-section js-flipbook-content animate__animated animate__fadeIn">
  <div class="flipbook">
    <div class="wedding__section wedding__principal-section is-mobile">
      <!-- INIT CONTENT SECTION -->
      <article class="wedding__content-section">
        <!-- INIT CLOCK SECTION -->
        <section class="wedding__count-section">
          <div class="wedding__count-section-clock">
            <p class="wedding__count-section-item">
              <span class="wedding__count-section-subitem js-days">00</span>
              <span class="wedding__count-section-subitem--mod">Días</span>
            </p>
            <p class="wedding__count-section-item">
              <span class="wedding__count-section-subitem js-hours">00</span>
              <span class="wedding__count-section-subitem--mod">Horas</span>
            </p>
            <p class="wedding__count-section-item">
              <span class="wedding__count-section-subitem js-minutes">00</span>
              <span class="wedding__count-section-subitem--mod">Minutos</span>
            </p>
            <p class="wedding__count-section-item">
              <span class="wedding__count-section-subitem js-seconds">00</span>
              <span class="wedding__count-section-subitem--mod">Segundos</span>
            </p>
          </div>
        </section>
        <!-- END CLOCK SECTION -->
      </article>
      <!-- END CONTENT SECTION -->
      <!-- INIT CONTROLS SECTION -->
      <section class="wedding__control-right">
        <div class="wedding__control-thumb" onclick="$('.flipbook').turn('next')">
          <img src="./../assets/icons/arrow.svg" alt="arrow right">
        </div>
      </section>
      <!-- END CONTROLS SECTION -->
    </div>
    <div class="wedding__section wedding__reception-section is-mobile"></div>
    <div class="wedding__section wedding__reception-section is-mobile">
      <!-- INIT CONTENT SECTION -->
      <article class="wedding__content-section reception_movil">
        <p style="height: 15%;" ></p>
        <!-- <img src="./../assets/images/reception/mobile/our-family.svg" alt="Our family" style="height: 5%;" class="espacio"/> -->
        <!-- <img src="./../assets/images/reception/mobile/married-names.svg" alt="Married names" style="height: 15%;"  class="espacio"/> -->
        <img src="./../assets/images/reception/mobile/title.svg" alt="Married names"  style="height: 3.5%; margin-left: 15em;"  class="espacio" />
        <img src="./../assets/images/reception/mobile/names-married.svg" alt="Married names"  style="margin-bottom: 2.6em;"/>
        <img src="./../assets/images/reception/mobile/we-wait-in.svg" alt="We wait in"  style="margin-bottom: 0.3em;"/>
        <img src="./../assets/images/reception/mobile/event-date.svg" alt="Event date" style="height: 8.5%; margin-bottom: 2.1em;"/>
        <img src="./../assets/images/reception/mobile/address.svg" alt="Address" class="js-reception-address" style="height: 8%; margin-bottom: 0.5em;"/>
        <img 
          class="qr-loader js-qr-loader"
          src="./../assets/images/eclipse-loader.svg"
          alt="loader QR code"
        />
        <img 
          class="qr-code js-qr-code is-hidden animate__animated animate__fadeIn"
          alt="access QR code"
        />
        <p class="qr-passes js-qr-passes is-hidden animate__animated animate__fadeIn">
          Pases: 1
        </p>
      </article>
      <!-- END CONTENT SECTION -->
      <!-- INIT CONTROLS SECTION -->
      <section class="wedding__control-left">
        <div class="wedding__control-thumb" onclick="$('.flipbook').turn('previous')">
          <img src="./../assets/icons/arrow.svg" alt="arrow left"/>
        </div>
      </section>
      <section class="wedding__control-right">
        <div class="wedding__control-thumb" onclick="$('.flipbook').turn('next')">
          <img src="./../assets/icons/arrow.svg" alt="arrow right"/>
        </div>
      </section>
      <!-- END CONTROLS SECTION -->
    </div>
    <div class="wedding__section wedding__reception-section is-mobile"></div>
    <div class="wedding__section wedding__godparents-section is-mobile">
      <!-- INIT CONTENT SECTION -->
      <article class="wedding__content-section">
        <p style="height: 4%;" ></p>
        <img src="./../assets/images/godparents/mobile/title.svg" alt="Page title" class="godparents_movil"/>
        <img src="./../assets/images/godparents/mobile/boy-fathers.svg" alt="Boy fathers" class="godparents_movil"/>
        <img src="./../assets/images/godparents/mobile/girl-fathers.svg" alt="Girl fathers" class="godparents_movil"/>
        <img src="./../assets/images/godparents/mobile/godparent-names.svg" alt="Our godparents" class="godparents_movil"/>
      </article>
      <!-- END CONTENT SECTION -->
      <!-- INIT CONTROLS SECTION -->
      <section class="wedding__control-left">
        <div class="wedding__control-thumb" onclick="$('.flipbook').turn('previous')">
          <img src="./../assets/icons/arrow.svg" alt="arrow left"/>
        </div>
      </section>
      <section class="wedding__control-right">
        <div class="wedding__control-thumb" onclick="$('.flipbook').turn('next')">
          <img src="./../assets/icons/arrow.svg" alt="arrow right"/>
        </div>
      </section>
      <!-- END CONTROLS SECTION -->
    </div>
    <div class="wedding__section wedding__godparents-section is-mobile"></div>
    <div class="wedding__section wedding__gifts-section is-mobile">
      <!-- INIT CONTENT SECTION -->
      <article class="wedding__content-section">
        <p style="height: 2%;" ></p>
        <img src="./../assets/images/gifts/mobile/text.svg" alt="Gifts text" style="height: 40%;"/>
        <div class="addresses">
          <p style="height: 20%;"></p>
          <img src="./../assets/images/gifts/mobile/address-title.svg" alt="Address title" style="height: 16%; margin-bottom: 0.5em;"/>
          <img src="./../assets/images/gifts/mobile/general-address.svg" alt="General address" style="height: 28%; margin-bottom: 2em"/>
          <!-- <img src="./../assets/images/gifts/mobile/specific-address.png" alt="Specific address"/> -->
          <img src="./../assets/images/gifts/mobile/account-title.svg" alt="General address" style="height: 17%; margin-bottom: 0.5em"/>
          <img src="./../assets/images/gifts/mobile/general-account.svg" alt="General address" style="height: 18%; margin-bottom: 0.5em"/>
        </div>
      </article>
      <!-- END CONTENT SECTION -->
      <!-- INIT CONTROLS SECTION -->
      <section class="wedding__control-left">
        <div class="wedding__control-thumb" onclick="$('.flipbook').turn('previous')">
          <img src="./../assets/icons/arrow.svg" alt="arrow left"/>
        </div>
      </section>
      <!-- END CONTROLS SECTION -->
    </div>
  </div>
</section>
