<section class="wedding__hero-section animate__animated animate__fadeIn">
  <article class="wedding__count-section">
    <div class="wedding__count-section-clock">
      <p class="wedding__count-section-item">
        <span class="wedding__count-section-subitem js-days">00</span>
        <span class="wedding__count-section-subitem--mod">Días</span>
      </p>
      <p class="wedding__count-section-item">
        <span class="wedding__count-section-subitem js-hours">00</span>
        <span class="wedding__count-section-subitem--mod">Horas</span>
      </p>
      <p class="wedding__count-section-item">
        <span class="wedding__count-section-subitem js-minutes">00</span>
        <span class="wedding__count-section-subitem--mod">Minutos</span>
      </p>
      <p class="wedding__count-section-item">
        <span class="wedding__count-section-subitem js-seconds">00</span>
        <span class="wedding__count-section-subitem--mod">Segundos</span>
      </p>
    </div>
  </article>
</section>
<section class="wedding__content-section animate__animated animate__fadeIn">
  <article class="swiper js-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <!-- INIT CONTENT SECTION -->
        <div class="wedding__section wedding__reception-section is-desktop">
          <article class="wedding__content-section reception_web">
            <p class="reception_top"></p>
            <!-- <img src="./../assets/images/reception/mobile/our-family.svg" alt="Our family" style="height: 5%;" class="espacio"/> -->
            <!-- <img src="./../assets/images/reception/mobile/married-names.svg" alt="Married names" style="height: 16%;" class="espacio"/> -->
            <img src="./../assets/images/reception/mobile/title.svg" class="reception-title" alt="Married names" />
            <img src="./../assets/images/reception/mobile/names-married.svg" class="reception-names" alt="Married names"/>
            <img src="./../assets/images/reception/mobile/we-wait-in.svg" class="reception-wait" alt="We wait in" />
            <img src="./../assets/images/reception/mobile/event-date.svg" class="reception-date" alt="Event date"/>
            <img src="./../assets/images/reception/mobile/address.svg" class="reception-address js-reception-address" alt="Address"/>
            <img 
              class="qr-loader js-qr-loader"
              src="./../assets/images/eclipse-loader.svg"
              alt="loader QR code"
            />
            <div id="reader" width="600px"></div>
            <img 
              class="qr-code js-qr-code is-hidden animate__animated animate__fadeIn"
              alt="access QR code"
            />
            <p class="qr-passes js-qr-passes is-hidden animate__animated animate__fadeIn">
              Pases: 1
            </p>
          </article>
        </div>
        <!-- END CONTENT SECTION -->
      </div>
      <div class="swiper-slide">
        <!-- INIT CONTENT SECTION -->
        <div class="wedding__section wedding__godparents-section is-desktop">
          <article class="wedding__content-section reception_godparents">
            <img src="./../assets/images/godparents/mobile/title.svg" alt="Page title"  class="godparents"/>
            <img src="./../assets/images/godparents/mobile/boy-fathers.svg" alt="Boy fathers" class="godparents"/>
            <img src="./../assets/images/godparents/mobile/girl-fathers.svg" alt="Girl fathers" class="godparents"/>
            <img src="./../assets/images/godparents/mobile/godparent-names.svg" alt="Our godparents" class="godparents"/>
          </article>
        </div>
        <!-- END CONTENT SECTION -->
      </div>
      <div class="swiper-slide">
        <!-- INIT CONTENT SECTION -->
        <div class="wedding__section wedding__gifts-section is-desktop">
          <article class="wedding__content-section">
            <img src="./../assets/images/gifts/mobile/text.svg" alt="Gifts text" class="gift_movil" style="height: 82%;"/>
            <div class="addresses">
              <p style="height: 20%;"></p>
              <img src="./../assets/images/gifts/web/address-title.svg" alt="Address title" style="max-width: 30%; margin-bottom: 0.5em; margin-left: 3em;"/>
              <img src="./../assets/images/gifts/web/general-address.svg" alt="General address" style="max-width: 30%; margin-bottom: 2em; margin-left: 3em;"/>
              <!-- <img src="./../assets/images/gifts/mobile/specific-address.png" alt="Specific address"/> -->
              <img src="./../assets/images/gifts/web/account-title.svg" alt="General address" style="max-width: 48%; margin-bottom: 0.5em; margin-left: 3em;"/>
          <img src="./../assets/images/gifts/web/general-account.svg" alt="General address" style="max-width: 40%; margin-bottom: 0.5em; margin-left: 3em;"/>
            </div>
          </article>
        </div>
        <!-- END CONTENT SECTION -->
      </div>
    </div>
    <!-- INIT CONTROLS SECTION -->
    <section class="wedding__control-left js-control-left">
      <div class="wedding__control-thumb">
        <img src="./../assets/icons/arrow.svg" alt="arrow left"/>
      </div>
    </section>
    <section class="wedding__control-right js-control-right">
      <div class="wedding__control-thumb">
        <img src="./../assets/icons/arrow.svg" alt="arrow right"/>
      </div>
    </section>
    <!-- END CONTROLS SECTION -->
  </article>
</section>
